
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="testimonial">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Testimonial</h2>
                <p>It is a long established fact that a reader will be distracted by the </p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                <ol class="carousel-indicators">
                  
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                   <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="container">
                         <div class="carousel-caption ">
                            <div class="row">
                                 {% for Testimonial in form %}
                                    <div class="col-md-6 margin_boot">
                                       <div class="test_box">
                                          <i><img class="i" src="" /></i>
                                          <h4 ></h4>
                                          <span>{{user.username}}</span>
                                          <p class="text-white">{{Testimonial.Yorum}}</p>
                                       </div>
                                    </div>
                                 {% endfor %}
                                 
                            </div>
                         </div>
                      </div>
                   </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
             </div>
          </div>
       </div>
    </div>
</div>
<div class="container">
   <div class="row pb-5">
      <button type="submit" class="btn btn-primary">  
         <a href="{% url 'yorumekle'%}" >Yorum Yap</a>
      </button>
   </div>
</div>
  
{% endblock %} 